.social {

}
  .social ul {
  }
    .social ul li {
      display: inline-block;
      margin: 0px 5px;
      text-align: center;
    }
      .social ul li a {
        display: block;
        position: relative;
      }
        .social ul li a .circle {
          height: 100%
        }
          .social ul li a .circle svg {
            fill: transparent;
            width: 100%;
            height: 100%;
          }
            .social.linear ul li a .circle svg {
              -webkit-transition: all 0.3s;
              -moz-transition: all 0.3s;
              transition: all 0.3s;
            }
            .social.elastic ul li a .circle svg {
              -webkit-transition: all 0.3s cubic-bezier(0.680, -0.550, 0.265, 1.550);
              -moz-transition: all 0.3s cubic-bezier(0.680, -0.550, 0.265, 1.550);
              transition: all 0.3s cubic-bezier(0.680, -0.550, 0.265, 1.550);
            }

        .social ul li a .icon {
          text-align: left
        }
          .social ul li a .icon svg {
            position: absolute;
            width: 100%;
            height: 100%;
          }
            .social.linear ul li a .icon svg {
              -webkit-transition: all 0.2s;
              -moz-transition: all 0.2s;
              transition: all 0.2s;
            }
            .social.elastic ul li a .icon svg {
              -webkit-transition: all 0.3s cubic-bezier(0.680, -0.550, 0.265, 1.550);
              -moz-transition: all 0.3s cubic-bezier(0.680, -0.550, 0.265, 1.550);
              transition: all 0.3s cubic-bezier(0.680, -0.550, 0.265, 1.550);
            }

            .social ul li.facebook a .icon svg {
              height: 50%;
              margin: 25% 0 0 0;
            }
            .social ul li.twitter a .icon svg {
              height: 42%;
              margin: 29% 0 0 2%;
            }
            .social ul li.instagram a .icon svg {
              height: 50%;
              margin: 22% 0 0 0;
            }
            .social ul li.linkedin a .icon svg {
              height: 44%;
              margin: 26% 0 0 1%;
            }
            .social ul li.youtube a .icon svg {
              height: 36%;
              margin: 30% 0 0 0;
            }
            .social ul li.pinterest a .icon svg {
              height: 50%;
              margin: 21% 0 0 0;
            }
            .social ul li.googleplus a .icon svg {
              height: 46%;
              margin: 27% 0 0 2%;
            }

            .social ul li.vimeo a .icon svg {
              height: 50%;
              margin: 25% 0 0 0%;
            }

      .social ul li a:hover {
        cursor: pointer
      }
        .social.no-spin ul li a:hover .circle svg {
          -webkit-transform: scale(1.3);
          -moz-transform: scale(1.3);
          -ms-transform: scale(1.3);
          -o-transform: scale(1.3);
          transform: scale(1.3);
        }
        .social.x-spin ul li a:hover .circle svg {
          -webkit-transform: scale(1.3) rotateX(180deg);
          -moz-transform: scale(1.3) rotateX(180deg);
          -ms-transform: scale(1.3) rotateX(180deg);
          -o-transform: scale(1.3) rotateX(180deg);
          transform: scale(1.3) rotateX(180deg);
        }
        .social.y-spin ul li a:hover .circle svg {
          -webkit-transform: scale(1.3) rotateY(180deg);
          -moz-transform: scale(1.3) rotateY(180deg);
          -ms-transform: scale(1.3) rotateY(180deg);
          -o-transform: scale(1.3) rotateY(180deg);
          transform: scale(1.3) rotateY(180deg);
        }
        .social.xy-spin ul li a:hover .circle svg {
          -webkit-transform: scale(1.3) rotateX(180deg) rotateY(180deg);
          -moz-transform: scale(1.3) rotateX(180deg) rotateY(180deg);
          -ms-transform: scale(1.3) rotateX(180deg) rotateY(180deg);
          -o-transform: scale(1.3) rotateX(180deg) rotateY(180deg);
          transform: scale(1.3) rotateX(180deg) rotateY(180deg);
        }

        .social ul li a:hover .icon svg {
          -webkit-transform: scale(1.3);
          -moz-transform: scale(1.3);
          -ms-transform: scale(1.3);
          -o-transform: scale(1.3);
          transform: scale(1.3);
        }
        .social.z-spin ul li a:hover .icon svg {
          -webkit-transform: scale(1.3) rotateZ(360deg);
          -moz-transform: scale(1.3) rotateZ(360deg);
          -ms-transform: scale(1.3) rotateZ(360deg);
          -o-transform: scale(1.3) rotateZ(360deg);
          transform: scale(1.3) rotateZ(360deg);
        }